html{
    background-color: #000000;
    
}
.main{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #C4C4C4;
}
h1{
  text-align: center;
}
.logs{
    text-align: right;
    flex-direction: row;
}
.boxcontainer{
    margin: auto;
    margin-top: 0%;
    position: relative;
    width: 500px;
    height: 40px;
    border: 2px solid #FEF2F2;
    padding: 0px 10px;
    background-color: #FEF2F2;
    border-radius: 50px;
    }
    .elementcontainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    }
    .search{
    border: none;
    height: 100;
    width: 100%;
    padding: 0px 5px;
    font-size: 18px;
    font-family: "Nunito";
    background-color: #FEF2F2;
    }
    .search{
    outline: none;
    }
    .a{
        text-decoration: none;
        color: black;
        margin-right: -17px;
    }
   
    li{
        display: inline;
        padding: 55px;
        color:#D29D14;
        box-sizing: border-box;
        margin: 30px 5px;
        font-size: 20px;
      
    }
    .bar a{
        color: #D29D14;
     
        text-decoration: none;

    }
    .button{
        background-color: #073706;
        border-radius: 30px;
        width: 68px;
        height: 30px;
    }
    .butt{
        width: 78px;
        background-color: #073706;
        border-radius: 30px;
        height: 30px;
    }
    .catch{
        background-color: #131212;
    }
    .play{
       
        margin-top: 100px;
        margin-left: 20px;
        border-radius: 50px;
        background-color: #131212;
        height: 70px;
        width: 1000px;
        text-align: center;
        color: #18C7A7;
        font-size: 60px;
}
.row{
 display: inline-block;
    width: 30%;
    padding: 0.7em;
}
.row1{
    width: 30%;
    padding: 0.7em;
}


footer{
    background: rgba(21, 20, 20, 0.84);
    margin: 9px;
    border-radius: 9px;
}
.footer{
    justify-content: space-between;
    color: white;
  
    margin-left: 60px;
}
.column2{
    text-align: center;
    margin-top: -100px;

}
