@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    margin: 0;
    padding: 0;
    background: #151414;
    font-family: 'poppins';
    box-sizing: border-box;
}

.container{
    background: #C4C4C4;
    width: 80%;
    height: 100%;
    margin: auto;
    border-radius: 10px; 
    min-height: 1119px;
}

.wrapper{
    margin:auto;
    margin-top: 20px;
    height: 300px;
    position: relative;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   
}
.logo{
    background: #691111;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.logo p{
    text-align: center;
    position: inherit;
}

.nav .log ul{
    display: flex;
    flex-direction: row;
   
}
.nav .log ul li{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding:0 1em;
}
.sitename{
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}
/* Style the search box inside the navigation bar */
   
.inputbox input[type=text] {
        padding: 10px;
        padding-right: 20px;
        border: none;
        border-radius: 50px;
        width: 70%;
        background: #f1f1f1;
      }

.menu{
    padding-top: 1em;
    width: 100%;
    align-items: center;
}

.menu ul{
  display: flex;
  flex-direction: row;
}
 
.menu ul li{
    display: flex;
    flex-direction: row;
}
.menu ul li{
    justify-content: space-between;
}
.menu ul li a{
    display: inline;
    justify-content: space-between;
    padding-top: 0;
    padding:0  40px;
    
}

.menu button{
    width: 100px;
    height: 30px;
    border: none;
    background: #063005;
    border-radius: 50px;
    color: #D29D14;
}
/*      form     */

.containertwo{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrappertwo{
    height:495px;
    width: 432px;
    background-color: white;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 1px 0px 6px #9ca1bb;
    align-items: center;
    box-sizing: border-box;
}


#wrappertwo #div2 {
    margin-top: 10px;
    width: 390px;
    text-align: left;
}


#wrappertwo #div2 h1 {
    margin: 0px;
    font-size: 32px;
    color: #2E2E2E;
    line-height: 38px;
}

#wrappertwo #div2 p {
    font-size: 15px;
    color: #2E2E2E;
    height: 24;
}



.form{
    width: 400px;
    height: 480px;
}

#wrappertwo #div2 li {
    list-style-type: none;
    margin-top: 5px;
}

#wrappertwo #div2 li #Firstname {
    width: 45%;
   margin-bottom: 10px;
}

#wrappertwo #div2 li #surname {
    margin-left: 4%;
    width: 45%;
    margin-bottom: 10px;
   
}
#wrappertwo #div2 li input[type="text"] {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
    border: none;
    background:  #C4C4C4;
    margin-bottom: 10px;
    
}
 #wrappertwo #div2 li input[type="password"] {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    padding-left: 10px;
    border: none;
    background:  #C4C4C4;
}
.dob
{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 2px;
}
.dob li{
  display: flex;
  padding: 40px;
  float: left;
}

#wrappertwo #div2 #terms {
    font-size: 11px;
}

.btn1{
        width: 150px;
        margin: auto;
        margin-top: 15px;
        background-color: #42b72a;
        color: white;
        padding: 10px;
        font-size: 16px;
        font-weight: bolder;
        border:solid;
        border-radius:50px;
        display: flex;
        align-items: center;
        justify-content: center;

}

.btn2{
    width: 150px;
    margin: auto;
    margin-top: 15px;
    background-color: #42b72a;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;
    border:solid;
    border-radius:50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#terms{
    text-align: center;
}









/* footer */


.footer{
    background: rgba(21, 20, 20, 0.84);
    border-radius: 20px;
}
.footer .foot{
   width: 90%;
   margin: auto;
   display: flex;
   flex-direction: row;
   color: white;
   font-size: 10px;
   align-items: center;
}
.footer .foot .footright{
    align-items: flex-start;
    width: 100%;
}
.footer .foot .footcenter{
    padding-left: 40%;
}


.footer .foot .footicons{
    padding-left: 40%;
    padding-top: 30px;
}
.footer .foot .footicons ul li {
    list-style: none;
    padding-top: 2 ;
    padding: 2px;
}
.footlast{
    text-align: center;
    justify-content: space-between;
}