html {
    position: relative;
    background-color: #151414;
    margin: 0;
    padding: 0;
}

.main {
    width: 90%;
    height: 100%;
    background-color: #C4C4C4;
    margin: auto;
    border-radius: 10px;
}

.navbar li {
    overflow: hidden;
    display: inline;
    padding: 55px;
    font-size: 20px;
}

button {
    display: inline;
    background-color: #073706;
    width: 100px;
    border-radius: 15px;
    height: 35px;
}

button a {
    color: #D29D14;
    text-decoration: none;
}

.navbar {
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 10px;
}

.login li {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    padding: 7px 10px;
    display: inline;
}

.search input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    width: 70%;
    margin: auto;
    border-radius: 50px;
    color: #FEF2F2;
}

.home {
    text-align: center;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    background: white;
    box-sizing: border-box;
    border: 1px solid white;
    margin: auto 100px;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 300px;
    margin: 10px;
    font-family: poppins;
    font-weight: 500;
    color: #468E0C;
}

.containerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    color: #2A1996;
}

.submit {
    width: 80%;
    margin: auto;
    margin-left: 100px;
    background-color: #D61E13;
    margin-top: 20px;
    height: 40px;
}

.submit p {
    color: #FFFFFF;
}